/*+++++++++++++++++ IMPOSTAZIONI GENERALI ++++++++++++++++++++++*/

body {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Inter", sans-serif;
  margin: 0 7.5rem;
}

/* ++++++++++++++++ MEDIA QUERY ++++++++++++++++ */
/* Per adattare a vari dispositivi, fino a tablet */

@media (max-width: 1024px) {
  body {
    margin: 0 2rem;
  }

  .title {
    font-size: 1.5em;
  }
  form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#button {
  width: 100%;
  padding: 0.5rem; /* Add padding to the button */
  margin-top: 1rem; /* Increase the margin between the input and button */
}

/*++++++++++++++++ HEADER +++++++++++++++++++++++*/

.title {
  font-size: 4em;
  line-height: 80%;
  font-family: "Outfit", sans-serif;
}
h1 span {
  font-weight: lighter;
}
#Logo {
  width: 10%;
  margin-top: 4rem;
  min-width: 10rem;
  height: 5%;
}
#istruzioni {
  color: #d20094;
  font-size: 30px;
  font-weight: bold;
}
.logo-timer-container {
  display: flex;
  justify-content: space-between;
}
/*+++++++++++++++++ LISTA ++++++++++++++++++++++*/
ul {
  margin-top: 2.5rem;
}
li {
  line-height: 2rem;
}

/*+++++++++++++++++ BOTTONI ++++++++++++++++++++++*/

#button {
  box-shadow: 0px 1px 11px 4px #00ffff;
  background: linear-gradient(to bottom, #00ffff 5%, #00ffff 100%);
  background-color: #00ffff;
  display: inline-block;
  cursor: pointer;
  border: none;
  width: 12rem;
  height: 3rem;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}
#button:hover {
  background: linear-gradient(to bottom, #00ffff 5%, #00ffff 100%);
  background-color: #00ffff36;
}
#button:active {
  position: relative;
  top: 1px;
}

#multiplo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stileBottoni {
  width: 20rem;
  height: 4rem;
  border-radius: 30px;
  margin: 1em;
  background-color: rgba(255, 255, 255, 0.13);
  color: white;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  border-color: white;
  border: none;
  -webkit-box-shadow: 0px -2px 1px 1px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px -2px 1px 1px rgba(255, 255, 255, 1);
  box-shadow: 0px -2px 1px 1px rgba(255, 255, 255, 1);
  cursor: pointer;
  font-size: 1em;
}
.stileBottoni:hover {
  background: rgb(119, 1, 93);
  background: linear-gradient(
    0deg,
    rgba(119, 1, 93, 1) 0%,
    rgba(210, 0, 148, 1) 100%
  );
}
/*+++++++++++++++++++ DOMANDE +++++++++++++++++++++*/
.stilep {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 2em;
  margin-top: 0;
  font-family: "Outfit", sans-serif;
}
#container {
  align-items: center;
  margin: 0 25%;
  text-align: center;
}
#numeroColorato {
  color: #d20094;
}
#questionCounter {
  font-size: 1.5em;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}
/*+++++++++++++ FOOTER +++++++++++++++*/
form {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*+++++++++++++++CHECKBOX +++++++++++++*/
input[type="checkbox"] {
  display: none;
}

label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2.5px solid white;
  vertical-align: middle;
  margin-right: 1em;
  margin-bottom: 0.2em;
}

input[type="checkbox"]:checked + label:before {
  content: "\2713"; /* unicode per la v di checked*/
  text-align: center;
  line-height: 15px;
  color: white;
}

/*+++++++++++++++++ RESULTS ++++++++++++++++++++++*/

#rateUs {
  box-shadow: 0px 1px 11px 4px #00ffff;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid white;
  width: 12rem;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.diGravita{
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

#resultsContainer {
  display: flex;
  justify-content: space-around;
}

.results {
  font-size: 3.5em;
}
 #correct {
  text-align: left;
 }
 #wrong {
  text-align: right;
 }
p.diGravita {
  font-size: 2em;
  margin-top: 5px;
}

/*+++++++++++++++++ FEEDBACK ++++++++++++++++++++++*/

/* stili generali feedback */

#formFeedback {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feedbackH1, .feedbackP {
  text-align: center;
}

.feedbackH1 {
  margin-top:5rem;
}

.feedbackP {
  font-size:30px;
  margin-bottom:30px;
}

#star-container {
  margin-bottom: 3rem;
}

#star-container .star {
  margin-right: 0.6rem;
  cursor: pointer;
}

/* colore per le stelle all'hover del mouse */

.star:hover path {
  fill: #00ffff;
}

/*  stile input feedback */

.feedbackInput {
  width: 70%;
  border: none;
  border-bottom: 2px solid #9c29c2;
  background: transparent;
  color: #5f606e;
  margin-top:0.5rem;
  margin-bottom: 2.5rem;
  padding: 5px;
  box-sizing: border-box;
}

/* stile placeholder dell'input feedback  e del text che scriviamo dentro */


.feedbackInput::placeholder{
font-size: 1.2rem;
text-indent: 4.5%;
}

.feedbackInput[type="text"]{
  text-indent: 4.5%;
  color: #7b7c8f;
  font-size: larger;
}

/* tolgo il bordo bianco intorno all'input feedback quando cliccato */

.feedbackInput:focus {
  outline: none; /
}

/* aggiungo margin bottom al bottone del feedback */

.feedbackBtn{
  margin-bottom:6rem;
}


/*++++++++++++++++++ RESULTS +++++++++++++++++++++++++++*/

#resulstCenter {
  text-align: center;
  margin-top: 7em;
  padding-right: 2em;
}

#blue {
  color: #00ffff;
}

#wiolet {
  color: #d20094;
}

#resulstCenter p {
  font-weight:lighter ;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}
